# 001 ~ 010

## 001 print 기초

화면에 Hello World 문자열을 출력하세요.

In [6]:
print("Hello World")

Hello World

## 002 print 기초

화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [7]:
print("Mary's cosmetics")

Mary's cosmetics

## 003 print 기초

화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의)

In [11]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

## 004 print 기초

화면에 C:/Windows를 출력하세요

In [14]:
print("C:\Windows")

C:\Windows

## 005 print 탭과 줄바꿈

다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

In [15]:
print("안녕하세요.\n만나서\t\반갑습니다.")

#\t는 탭, \n은 줄바꿈이다.

안녕하세요.
만나서	\반갑습니다.

In [19]:
print("나는 바보입니다 \n너는\t천재입니까?")

나는 바보입니다
너는	천재입니까?

## 006 print 여러 데이터 출력

print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

In [20]:
print("오늘은", "일요일")

#오늘은 일요일 나오겠지 당연히?

오늘은 일요일

## 007 print 기초

print() 함수를 사용하여 다음과 같이 출력하세요.
naver;kakao;sk;samsung

In [34]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [35]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

## 008 print 기초

print() 함수를 사용하여 다음과 같이 출력하세요.

In [36]:
print("naver","kakao","sk","samsung", sep="/")

naver/kakao/sk/samsung

In [37]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

## 009 print 줄바꿈

다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

In [50]:
print("first", end='');print("second")

# end=''줄바꾸지 않고 두개의 프린트를 실행할때 쓰임

firstsecond

## 010 연산 결과 출력

5/3의 결과를 화면에 출력하세요.

In [51]:
print(5/3)

1.6666666666666667

## 011 변수 사용하기

삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [65]:
삼성전자 = 500000
총평가금액 = (삼성전자 * 10)
print(총평가금액)

5000000

## 012 변수 사용하기

다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

In [68]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

## 013 문자열 출력

변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

,>> s = "hello"
,>> t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [77]:
s = "hello"
t = "python"
print(s+"!", t)

#바인딩이란 변수 지정을 의미한다

hello! python

## 014 파이썬을 이용한 값 계산

아래 코드의 실행 결과를 예상해보세요
2 + 2 * 3

print(2+2*3)

## 015 type 함수

type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

,>> a = 128
,>> print (type(a))
,<class 'int'>

아래 변수에 바인딩된 값의 타입을 판별해보세요.

,>> a = "132"

In [83]:
a = 132
print(type(a))

<class 'int'>

## 016 문자열을 정수로 변환

문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

In [86]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

## 017 정수를 문자열 100으로 변환

정수 100을 문자열 '100'으로 변환해보세요.

In [28]:
num = 100
type(num)
str(num)

TypeError: 'str' object is not callable

## 018 문자열을 실수로 변환

문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [16]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

## 019 문자열을 정수로 변환

year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

In [44]:
year = '2020'
year = int(year)
print(year, (year+1), (year+2), type(year))

2020 2021 2022 <class 'int'>

## 020 파이썬 계산

에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액을 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [3]:
월 = 48584
총금액 = (월*36)
총금액

1749024